body {
	font-family: Arial, Helvetica, sans-serif;
  }

  p {
	font-size: 40pt;
	text-align: center;
	margin-top: 2em;
	color: #7e0064;
  }

  p.subline {
	font-size: 15pt;
	text-align: center;
	color: #7e0064;
  }

  .chapter1 {
	  width: 20%;
	  height: auto;
	  margin: 1pt;
  }

  .chapterpdf {
	  text-align: center;
  }
  
  .navbar {
	overflow: hidden;
	background-color: #7e0064;
  }
  
  .navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  .home {
	filter: invert();
  }

  .pdf {
	filter: invert();
	float: right;
  }

  .pdfnav {
	  float: right;
	  margin-right: 1em;
  }

  .chat {
	filter: invert();
	float: right;
  }

  .chatnav {
	  float: right;
  }

  .dropdown {
	float: left;
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #007e41;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	float: none;
	color: white;
	background-color: #7e0064;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdown-content a:hover {
	background-color: #007e41 ;
  }
  
  .dropdown:hover .dropdown-content {
	display: block;
  }